# Jekyll build output
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ruby
.bundle/
vendor/
Gemfile.lock

# VS Code
.vscode/
*.code-workspace

# OS/Editor files
.DS_Store
Thumbs.db

# Logs
*.log

# Node (if you ever add npm packages)
node_modules/
